main{
    max-width: 1200px;
    margin-inline: auto;

}


@media (min-width: 840px) {

/*****forside*****/
.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.order{
    order: -1;
}

.dl_grid_1-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dl .item{
    display:flex;
    flex-direction: column; 
    gap: 5px;
} 

/*****operativsystemer*****/
.grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 20px;
}
.grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
}
.grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

/*****komponenter*****/
.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.flex_col {
    display: flex;
    flex-direction: column;
}
.flex_col :last-child {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.grid_1-1-1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
}

/*****galleri*****/

.udseende-tekst{
    max-width: 65ch;
}

.grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-rows: 300px;
}
.grid_1-1-1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.billed-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.billed-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.billed-3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.billed-4{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.billed-5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.billed-6{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

}








/*****mobil*****/

@media (max-width: 840px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-rows: 300px;
}

.grid_1-1-1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.billed-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.billed-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.billed-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.billed-4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.billed-5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}

.billed-6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}



}